<div class="calendario-titulo">
    <div>
        
        <button mat-raised-button (click)="openDialog()" class="mr-2" color="primary">Nova escala</button>
        <button mat-stroked-button (click)="downloadPdf()" color="primary">Download</button>

    </div>
</div>
<section id="printTable" class="justify-content-center">
    <span style="display: flex; grid-row: inherit; align-items: center; justify-content: center;" class="calendario-titulo-mes-ano">
        <h2 *ngIf="diasCalendario.length > 0">{{month() + " - " + dataAtual.getFullYear()}}</h2>
    </span>
    <section style="display: grid; margin-top: 1px; grid-template-columns: repeat(7, 1fr); text-align: center; " class="calendario-dias">
        <!-- Aqui renderizamos o nome do dia da semana -->
        <ng-container *ngFor="let dia of diasDaSemana; let i = index">
            <div *ngIf="i < 7">
                <strong>{{ dia }}</strong>
            </div>
        </ng-container>
        
        <div *ngFor="let dia of diasCalendario; let i = index; let j = index"
        class="calendario-dia"
        style="border: 1px solid #ccc; width: 150px; font-size: 20px; padding: 20px 0px 20px 0px;"
        [class.calendario-quebrar-linha]="i % itens.length === 0">
            <div [style.opacity]="dataAtual.getMonth() !== dia.getMonth() ? '50%' :  '100%'" [class.calendario-dia-nao-faz-parte-mes-atual]="dataAtual.getMonth() !== dia.getMonth()">
                {{dia | date : 'dd'}}                
            </div>    
            <div class="box" [style.background-color]="styles[(j-2)%itens.length]">
                <a style="font-weight: bold" *ngIf="dataAtual.getMonth() === dia.getMonth()">
                        {{itens[(j-2)%itens.length]}}
                </a>
            </div>
        </div>
    </section>
</section>